<% if current_user %>
    Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-lg btn-default" %> |
  <%= link_to 'Posts', posts_path, class: "btn btn-lg btn-primary" %>

<% else %>

  <h1> Welcome To Demo Backbone</h1>
  
  <div class="center">
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', class: "btn btn-lg btn-primary"  %>
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link' , class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
