<h1>Listing posts</h1>

<table id="posts-table">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Email</th>
    <th>Name</th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Post</a>