<td><%= title %></td>
<td><%= content %></td>
<td><%= email %></td>
<td><%= name %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
