<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<!--<p>
  <strong>Email:</strong>
  <%= @post.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>-->

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
 
 