<!DOCTYPE html>
<html>
<head>
  <title>Raffler</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
</head>
<body>

	<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Backbone_demo_app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
          
           
            <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", '#' %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                 <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  '#'   %>  
              </li>
            </ul>
          </li>
      
          
            <li><%= link_to "Login", '#' %></li>
          
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">.
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
